@import url('./reset.css');

:root {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  justify-content: center;
}

.search-form {
  padding-left: calc((1158px - 371px) / 2);
  margin-bottom: 32px;
}

.search-input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 0;
  padding-left: 16px;
  margin: 0 auto;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:active {
  border: 1px solid #4e75ff;
  color: #2e2f42;
}

.search-btn {
    font-family: Montserrat;
  width: 75px;
  height: 40px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #ffffff;
  border: none;
}

.search-btn:hover {
  background: #6C8CFF;
}

.gallery {
  width: 1158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 24px;
}

.gallery-item {
  width: calc((100%) / 5);
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  border: 1px solid #808080;
}

.gallery-image {
  width: 360px;
  height: 152px;
}

.gallery-link {
  display: block;
}

.gallery-item-info {
  display: flex;
}

.gallery-item-info-par {
  text-align: center;

}

.gallery-item-info-span {
  color: #2E2F42;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 0.48px;
}

/* spinner */

.loader {
  display: none;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
